* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #7fffda;
    min-height: 100vh;
    padding-top: 10%;
}

.profile-card {
    margin: 0 auto;
    background-color: #fff;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 3px #999;
}
.top-section {
    background: #029d74ce;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 6px solid #fff;
    position: relative;
    top: 90px;
}

.bottom-section {
    padding-top: 20%;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.muted {
    color: #999;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 4% 0% 4% 0%;
}

.hr {
    margin-top: 4%;
}